@charset "utf-8";
/* CSS Document */

.mainArea.ins .titleBox h2{
	font-size: 0;
	width: 230px;
	height: 50px;
	background: url(../images/title/title10.png) no-repeat center;
}

/******列表******/
	ul.itemList{
		margin: 0 -37px;
		margin-top: 50px;
	}
	ul.itemList li{
		padding: 0 37px 50px 37px;
		text-align: center;
	}
	ul.itemList li .Img{
		position: relative;
		overflow: hidden;
	}
	ul.itemList li .Img img{
		display: block;
		width: 100%;
	}
	ul.itemList li a.imgLink{
		display: block;
		margin-bottom: -80px;
	}
	ul.itemList li .Txt{
		width: 100%;
		max-width: 396px;
		height: 248px;
		text-align: center;
		display: inline-block;
	}
	ul.itemList li .Txt .txtBox{
		width: 100%;
		height: 100%;
		background: url(../images/ins/bg_txt.png) no-repeat center;
		-moz-background-size: 80%;
		-webkit-background-size: 80%;
		-o-background-size: 80%;
		background-size: 80%;
		padding: 65px 65px 15px;
		z-index: 5;
	}
	ul.itemList li .Txt::before{
		display: none;
	}
	ul.itemList li:hover .Txt::before{}
	ul.itemList li .Txt h3{
		font-size: 24px;
		color: #111;
		margin-top: 10px;
		height: 70px;
	}
	ul.itemList li .Txt p{
		margin-top: 10px;
		color: #111;
		height: 40px;
		line-height: 30px;
	}
	ul.itemList li .Txt .btnListBox{
		margin-top: 10px;
	}
	ul.itemList li .Txt .btnListBox .btn{
		display: inline-block;
		margin: 0 -4px;
	}
	ul.itemList li .Txt .btnListBox .btn a{
		width: 90px;
		height: 35px;
		line-height: 35px;
	}
	ul.itemList li .Txt .btnListBox .btn.btn_ins a{
		background: #0e6166;
	}
	
/******內頁******/
	.textEditor{
		padding: 0 10px;
	}
	.textEditor + .btnBox{
		margin-top: 50px;
	}


/**********響應式**********/
@media (max-width: 1180px){
    ul.itemList li .Txt .txtBox{
        padding: 65px 75px 15px;
    }
}
@media (max-width: 960px){
	/******列表******/
		ul.itemList li{
			text-align: center;
		}
		ul.itemList li .item{
			width: 100%;
			max-width: 600px;
			display: inline-block;
		}
}
@media (max-width: 800px){
	ul.itemList{
	    margin: 0;
	}
}
@media (max-width: 480px){
	ul.itemList li{
		padding: 0 0 30px 0;
	}
	ul.itemList li .Txt h3{
		letter-spacing: 1.5px;
	}
}
@media (max-width: 360px){
	ul.itemList li{
		padding: 0 0 5px 0;
	}
	ul.itemList li .Txt .txtBox{
	    padding: 60px 60px 10px;
	}
	ul.itemList li .Txt h3{
		margin-top: 15px;
	}
}