@charset "utf-8";
/* CSS Document */

.mainArea.ins .titleBox h2{
	font-size: 0;
	width: 230px;
	height: 50px;
	background: url(../images/title/title01-1.png) no-repeat center;
}

/******類別******/
	.classNote{
		text-align: center;
		width: 100%;
		height: 340px;
		background: url(../images/bg_note.jpg) no-repeat top center;
		padding: 0;
		margin: 0 0 25px 0;
	}
	.classNote::after{
		width: 168px;
		height: 172px;
		background: url(../images/noteCow.png) no-repeat;
		position: absolute;
		bottom: 30px;
		right: 100px;
		-webkit-animation: noteCow 3s -1s ease infinite;
		animation: noteCow 3s -1s ease infinite;
	}
	.classNote .txtBox{
		width: 310px;
		display: inline-block;
		text-align: center;
		padding: 60px 10px 0 10px;
		margin-right: 100px;
	}
	.classNote .txtBox::before{
		width: 643px;
		height: 319px;
		background: url(../images/dialogBox.png) no-repeat;
		position: absolute;
		top: 10px;
		left: calc(50% - 280px);
	}
	.classNote .txtBox .title{
		color: #333;
		font-size: 30px;
		font-weight: bold;
		line-height: 40px;
		letter-spacing: 4px;
		margin-bottom: 5px;
	}
	.classNote .txtBox p{
		color: #666;
		line-height: 28px;
		max-height: 115px;
	}
	.classNote .txtBox .btn{
		margin-top: 20px;
	}

/******列表******/
	ul.itemList{
		margin: 0 -10px;
	}
	ul.itemList li{
		padding: 0 10px;
		margin-bottom: 20px;
	}
	ul.itemList .item{
		overflow: hidden;
	}

	ul.itemList .item .Img{}
	ul.itemList .item .Img img{
		display:block;
		width:100%;
	}

	ul.itemList .item .Txt{
		cursor: pointer;
		padding: 10px 30px;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		text-align:center;
		background:rgba(4, 53, 56, 0.6);
		z-index: 5;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	ul.itemList li:hover .item .Txt{
		opacity: 1;
	}
	ul.itemList .item .Txt::after{
		width: 88px;
		height: 86px;
		background: url(../images/album_cow.png) no-repeat;
		position: absolute;
		bottom: -50px;
		left: 15px;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	ul.itemList li:hover .item .Txt::after{
		bottom: 0;
	}
	ul.itemList .item .Txt h3{
		color: #fff;
		font-size: 18px;
		font-weight: normal;
		letter-spacing: 1px;
		top: 50%;
		-ms-transform: translate(0%,-50%);
		-webkit-transform: translate(0%,-50%);
	    transform: translate(0%,-50%);
	}
	ul.itemList .item .Txt h3 a{
		display: block;
		color: #fff;
	}
	ul.itemList .item .Txt p{
		display: none;
	}

	ul.itemList .item .video{
		width: 114px;
		height: 114px;
		background: url(../images/album_play.png) no-repeat;
		text-align: center;
		cursor: pointer;
		position: absolute;
		left: calc(50% - 57px);
		top: calc(50% - 57px);
		z-index: 10;
		-moz-background-size: 100%;
		-webkit-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;

		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	ul.itemList li:hover .item .video{
		width: 46px;
		height: 46px;
		top: calc(100% - 85px);
		left: calc(50% - 23px);
	}


/**********響應式**********/

@media (max-width: 1180px){
	/******類別******/
		.classNote{
			text-align: right;
			padding-right: 300px;
		}
		.classNote::after{
			right: 20px;
		}
}
@media (max-width: 900px){
	/******類別******/
		.classNote{
			text-align: center;
			padding-right: 0;
		}
		.classNote::after{
			display: none;
		}
}
@media (max-width: 640px){
	/******類別******/
		.classNote .txtBox{
			width: 400px;
			margin-right: 40px;
			padding: 75px 10px 0 10px;
		}
		.classNote .txtBox::before{
			width: 560px;
			top: 30px;
			left: calc(50% - 230px);
			-moz-background-size: 100%;
			-webkit-background-size: 100%;
			-o-background-size: 100%;
			background-size: 100%;
		}
		.classNote .txtBox p{
			max-height: 100px;
		}
		.classNote .txtBox .btn{
			margin-top: 15px;
		}
}
@media (max-width: 480px){
	/******類別******/
		.classNote{
			height: auto;
			background: transparent;
			border-bottom: 1px solid rgba(51, 51, 51, 0.3);
			    margin: 0 0 40px 0;
		}
		.classNote .txtBox::before{
			display: none;
		}
		.classNote .txtBox{
			width: 100%;
			margin-right: 0;
			padding: 0 10px 20px 10px;
		}
		.classNote .txtBox .noteTitle{
			display: none;
		}
		.classNote .txtBox p{
			max-height: unset;
			text-align: left;
		}
}


/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}