@charset "utf-8";
/* CSS Document */

.mainArea.ins .titleBox h2{
	font-size: 0;
	width: 230px;
	height: 50px;
	background: url(../images/title/title09.png) no-repeat center;
}

/******列表******/
	ul.itemList{}
	ul.itemList li{
		padding: 0 10px;
		margin-bottom: 20px;
	}
	ul.itemList li .item{
	    background: url(../images/ins/bg_faq.jpg) repeat-y;
		border-radius: 5px;
		padding: 25px 20px 25px 50px;
	}
	ul.itemList li h3{
	    cursor: pointer;
	    color: #222;
	    font-size: 20px;
	    line-height: 30px;
	    letter-spacing: 1px;
	    padding-right: 30px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	ul.itemList li h3::before{
		content: '\f019';
		color: #222;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 20px;
		position: absolute;
		top: calc(50% - 10px);
		right: 5px;
	}
	ul.itemList li p{
		font-size: 14px;
		color: #555;
		line-height: 28px;
		height: 28px;
	}

/**********響應式**********/
@media (max-width: 960px){
	ul.itemList li h3{
		padding-right: 0;
		overflow: visible;
		text-overflow: clip;
		white-space: normal;
	}
	ul.itemList li h3::before{
		top: 6px;
		right: 101%;
	}
	ul.itemList li p{
	    font-size: 15px;
		height: auto;
		margin-top: 5px;
	}
}
@media (max-width: 480px){
	ul.itemList li h3::before{
		right: 103%;
	}
}