@charset "utf-8";
/* CSS Document */

.mainArea.ins .titleBox h2{
	font-size: 0;
	width: 230px;
	height: 50px;
	background: url(../images/title/title03.png) no-repeat center;
}

/*編輯器*/
	h3 + .Img{
		width: 100%;
		text-align: center;
		padding: 0;
		margin: 0;
		z-index: 10;
	}
	h3 + .Img img{
		max-width: 100%;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	}
	.textEditor{
		background: url(../images/ins/info_m.png) repeat-y top center;
		padding: 20px 80px 10px 220px;
		margin: 190px 0 160px 0;
		z-index: 5;
	}
	.textEditor::before{
		width: 1160px;
		height: 193px;
		background: url(../images/ins/info_top.png) no-repeat bottom center;
		position: absolute;
		bottom: 100%;
		left: calc(50% - 580px);
	}
	.textEditor::after{
		width: 1160px;
		height: 168px;
		background: url(../images/ins/info_bottom.png) no-repeat bottom center;
		position: absolute;
		top: 100%;
		left: calc(50% - 580px);
	}
	.textEditor .box{
		margin-bottom: 60px;
	}
	.textEditor .box:last-child{
		margin-bottom: 0;
	}
	.textEditor .title{
		color: #222;
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 40px;
	}
	.textEditor .title::before{
		width: 108px;
		height: 64px;
		background: url(../images/ins/info_icon.png) no-repeat;
		position: absolute;
		top: calc(50% - 32px);
		left: -130px;
	}
	.textEditor .title::after{
		width: 334px;
		height: 17px;
		background: url(../images/ins/line.png) no-repeat;
		position: absolute;
		top: 100%;
		left: -10px;
	}
	.textEditor .box .table .th span{
		margin-right: 20px;
	}
	.textEditor .box .table .th{
		overflow: hidden;
	}
	.textEditor .box .table .th span::after{
		width: 300%;
		max-width: 220px;
		height: 2px;
		background: url(../images/ins/dot.png) repeat-x center left;
		position: absolute;
		top: 8px;
		left: calc(100% + 20px);
	}
	/*.mainArea.ins .textEditor ul{
	    padding-left: 55px;
	    margin-top: 15px;
	}
	.mainArea.ins .textEditor ul li{
	    color: #12787f;
	}*/

/*飛牛怎麼玩*/
	.side_info{
		margin-top: 80px;
	}
	ul.informationList{
		margin: 0;
		margin-top: 10px;
	}
	ul.informationList li{
		padding: 10px 10px 0 10px;
		text-align: center;
	}
	ul.informationList li .item{
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	ul.informationList li:hover .item{
		margin-top: -8px;
	}
	ul.informationList li .Img{
		position: relative;
		overflow: hidden;
	}
	ul.informationList li .Img img{
		display: block;
		width: 100%;
	}
	ul.informationList li a.imgLink{
		display: block;
		margin-bottom: -50px;
	}
	ul.informationList li .Txt{
		width: 100%;
		max-width: 396px;
		height: 150px;
		text-align: center;
		display: inline-block;
	}
	ul.informationList li .Txt .pichover{
		width: 140px;
		height: 215px;
		position: absolute;
		bottom: 30px;
		left: -15px;
		opacity: 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	ul.informationList li:hover .Txt .pichover{
		bottom: 45px;
		left: -25px;
		opacity: 1;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
	}
	ul.informationList li .Txt .txtBox{
		width: 100%;
		max-width: 220px;
		height: 100%;
		background: url(../images/ins/bg_txt.png) no-repeat center;
		-moz-background-size: 90%;
		-webkit-background-size: 90%;
		-o-background-size: 90%;
		background-size: 90%;
		display: inline-block;
		padding: 80px 5px 5px 5px;
		z-index: 5;
	}
	ul.informationList li .Txt .txtBox::after{
		content: attr(data-num);
		color: #0e6166;
		font-size: 30px;
		font-family: 'Poller One', cursive;
		position: absolute;
		top: 40px;
		left: 45%;
	}
	ul.informationList li .Txt h3{
		font-size: 26px;
		color: #111;
		letter-spacing: 1.5px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	ul.informationList li .Txt h3 a{
		color: #111;
	}
	.side_info ul.informationList li .Txt::before{
		display: none;
	}


/**********響應式**********/
@media (max-width: 1180px){
	/*編輯器*/
		.textEditor{
			-moz-background-size: 100%;
			-webkit-background-size: 100%;
			-o-background-size: 100%;
			background-size: 100%;
		    margin: 150px 0 160px 0;
		}
		.textEditor::before,
		.textEditor::after{
			width: 100%;
			left: 0;
			-moz-background-size: 100%;
			-webkit-background-size: 100%;
			-o-background-size: 100%;
			background-size: 100%;
		}
		.textEditor::after{
			top: unset;
			bottom: -140px;
		}
		.textEditor .box{
			z-index: 5;
		}

	/*飛牛怎麼玩*/
		.side_info {
			margin-top: 50px;
		}
}
@media (max-width: 1024px){
	/*編輯器*/
		.textEditor::after{
			bottom: -120px;
		}
}
@media (max-width: 960px){
	/*編輯器*/
		.textEditor{
		    margin: 120px 0 160px 0;
	        padding: 20px 40px 10px 180px;
		}
}
@media (max-width: 900px){
	/*編輯器*/
		.textEditor::after{
			bottom: -100px;
		}
}
@media (max-width: 768px){
	/*編輯器*/
		.textEditor{
		    margin: 100px 0 120px 0;
		}
		.textEditor::after{
			bottom: -85px;
		}
}
@media (max-width: 640px){
	/*編輯器*/
		.textEditor{
		    margin: 65px 0 70px 0;
		}
		.textEditor::after{
			bottom: -60px;
		}
}
@media (max-width: 480px){
	/*編輯器*/
		.textEditor{
		    margin: 50px 0 40px 0;
	        padding: 20px 40px 10px 60px;
		}
		.textEditor::after{
			bottom: -30px;
		}
		.textEditor .title::before{
			display: none;
		}
		.textEditor .title::after{
			width: 100%;
		}
		.textEditor .box div:not(.title){
			margin-bottom: 10px;
		}
		.textEditor .box .openTime{
			color:#d55032;
			font-size: 30px;
			font-family: 'Poller One','微軟正黑體';
			line-height: 1.2;
		}
		.mainArea.ins .textEditor ul{
			padding-left: 0;
		}

}
@media (max-width: 360px){
	/*編輯器*/
		.textEditor{
		    margin: 40px 0 40px 0;
		}
		.textEditor .box div:not(.title){
			margin-bottom: 15px;
		}
}

