@charset "utf-8";
/* CSS Document */

/*.mainArea.ins .titleBox h2{*/
/*	font-size: 0;*/
/*	width: 230px;*/
/*	height: 50px;*/
/*	background: url(../images/title/title04-1.png) no-repeat center;*/
/*}*/

table{
	border-collapse: collapse;
	font-family: "微軟正黑體";
}
table th{
	padding: 5px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	text-align: center;
}
table td{
	padding: 5px;
	font-size: 15px;
	text-align: center;
}

.textEditor{
	padding: 20px 10px 10px 160px;
}
.mainArea.ins .textEditor ul{
	padding-left: 50px;
}


/**********響應式**********/
@media (max-width: 800px){
	table th,
	table td{
		text-align: left;
	}
}
@media (max-width: 480px){
	.textEditor{
		padding: 20px 0px 10px 0px;
	}
}
